.awardNews {
  position: relative;
  top: 140px;
  margin-bottom: 300px;
  span {
    display: flex;
    justify-content: center;
    font: 18px/1 "m", Arial, sans-serif;
    margin-bottom: 20px;
  }
  h1 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 54px;
    font-family: "TT Firs Neue Trl Regular";
    text-align: center;
  }

  .content {
    margin-top: 90px;
    p {
      font: 16px/1 "m", Arial, sans-serif;
      color: rgba(0, 0, 0, 0.5);
      line-height: 30px;
    }
    ul {
      li {
        font: 16px/1 "m", Arial, sans-serif;
        color: rgba(0, 0, 0, 0.5);
        margin: 30px 0px;
        position: relative;
        padding: 0 0 0 40px;
      
      }

    }
    li::after {
     
      position: absolute;
        top: -3px;
        left: 0px;
        width: 20px;
        height: 20px;
        background: #FFC628;
        border-radius: 100%;
        display: block;
        content: '';
      }

  }
}
