.credits {
  top: 140px;
  position: relative;
  margin-bottom: 300px;

  .content {
    height: 230px;
    margin: 0 auto;
    h1 {
      margin-bottom: 5px;
      font-size: 54px;
      font-family: "TT Firs Neue Trl Regular";
      text-align: center;
    }
    p {
      font: 18px/1 "m", Arial, sans-serif;
      color: rgba(0, 0, 0, 0.5);
      line-height: 30px;
      max-width: 840px;
      margin: 0 auto;
      padding: 0 0 20px;
      text-align: center;
    }
  }

  .yelo_credit_card {
    border: 1px solid #ececec;
    border-radius: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
    padding: 30px 0 30px 30px;
    display: flex;

    .y_c_img {
      img {
        width: 200px;
        height: 310px;
        top:40px;
        background-position: center;
        transform: rotateZ(35deg) rotateX(21deg) rotateY(-30deg);
        position: absolute;
        right: 80px;
        box-shadow: 50px 60px 80px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        &:hover {
            transform: scale(1.2);
           
        }
      }
    }

    .y_c_desc {
        margin-left: 20px;
        margin-top: 20px;
        width: 50%;
        h2{
            font-size: 30px;
            font-family: "TT Firs Neue Trl DemiBold";
            font-weight: 600;
        }
        p{
            font: 15px/1.6 "r", Arial, sans-serif;
            color: rgba(0,0,0,0.5);
        }
       
      .y_c_i {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        b{
            font: 18px/1.6 "r", Arial, sans-serif;
            font-weight: 600;
            line-height: 26px;
        }
        p {
            font: 14px/1.6 "r", Arial, sans-serif;
            color: rgba(0, 0, 0, 0.5);
          }
      }

      

      .credit {
        width: 220px;
        display: inline-block;
        transform: skew(-14deg, 0);
        background-color: black;
        margin-top: 60px;
        &:hover a{
          background-color: #ffc628;
          color: #000000;
        }

        a {
          height: 65px;
          display: grid;
          place-items: center;
          color: #fff;
          span {
            letter-spacing: 0, 2px;
            font: 18px/1.6 "r", Arial, sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }

  .istehlak_credit {
    border: 1px solid #ececec;
    border-radius: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
    padding: 30px 0 30px 30px;
    display: flex;
    margin-top: 60px;

    .i_c_img {
        height: 90%;
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
      img {
         height: 100%;
      }
    }

    .i_c_desc {
        margin-left: 20px;
        margin-top: 20px;
        width: 50%;
        h2{
            font-size: 30px;
            font-family: "TT Firs Neue Trl DemiBold";
            font-weight: 600;
        }
        p{
            font: 15px/1.6 "r", Arial, sans-serif;
            color: rgba(0,0,0,0.5);
        }
       
      .i_c {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        b{
            font: 18px/1.6 "r", Arial, sans-serif;
            font-weight: 600;
            line-height: 26px;
        }
        p {
            font: 14px/1.6 "r", Arial, sans-serif;
            color: rgba(0, 0, 0, 0.5);
          }
      }

      

      .credit {
        width: 220px;
        display: inline-block;
        transform: skew(-14deg, 0);
        background-color: black;
        margin-top: 60px;
        &:hover a{
          background-color: #ffc628;
          color: #000000;
        }

        a {
          height: 65px;
          display: grid;
          place-items: center;
          color: #fff;
          span {
            letter-spacing: 0, 2px;
            font: 18px/1.6 "r", Arial, sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }

}
